@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#e0aaff, #e4ddd4);
  color: #1a202c;
  min-height: 100vh;
  
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  width: 80%;
}

h1, h2, h3 {
  color: #1a202c;
}

p, li, a {
  color: #2d3748;
}

.bg-opacity-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-list {
  list-style-type: none;
  padding-left: 0;
}

.custom-list li {
  padding-left: 1em;
}

.custom-list li::before {
  content: "• ";
  color: #1a202c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.container {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  border-radius: 10px;
  padding: 20px;
}
h1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
section {
  transition: transform 0.3s, box-shadow 0.3s;
}
section:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.flex-shrink-0 {
  flex-shrink: 0;
  width: 33.33%; /* width set to display 3 cards at a time */
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Ndrysho madhësinë e fontit për titull */
        padding: 0.5rem;
    }
    .swiper-container {
        width: 100%; /* Sigurohu që swiper të zërë tërë gjerësinë e ekranit */
    }
    .stats-container {
        display: flex;
        flex-direction: column; /* Bën që statistikat të vendosen njëra mbi tjetrën */
        align-items: center;
    }
    .stat {
        width: 100%; /* Siguron që secili element të zërë tërë gjerësinë */
        text-align: center;
        margin: 0.5rem 0;
    }
}

